@media screen and (min-width:901px) {
  .Navbar__title{
    font-family: var(--lobster-font);
    font-size: 1.7vw;
    color: #053B50;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
}

@media screen and (max-width:900px) {
  .Navbar__title{
    font-family: var(--lobster-font);
    font-size: 1.7vw;
    color: #053B50;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
}

@media screen and (max-width:600px) {
  .Navbar__title{
    z-index: 2;
    font-family: var(--lobster-font);
    font-size: 6vw;
    color: #053B50;
    margin-left: 20px;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
}

@media screen and (max-width:300px) {
  .Navbar__title{
    font-family: var(--lobster-font);
    font-size: 1.7vw;
    color: #053B50;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
}