@media screen and (min-width:901px) {
  .About__description__h3{
    color: rgb(77, 77, 77);
    font-family: var(--montserrat-font);
    font-size: 3vw;
    font-weight: 700;
  }
}
@media screen and (max-width:900px) {
  .About__description__h3{
    color: rgb(77, 77, 77);
    font-family: var(--monserrat-font);
    font-size: 1.9rem;
    font-weight: 700;
  }
} 
@media screen and (max-width:600px) {
  .About__description__h3{
    color: rgb(77, 77, 77);
    font-family: var(--monserrat-font);
    font-size: 1.9rem;
    font-weight: 700;
  }
} 
@media screen and (max-width:300px) {
  .About__description__h3{
    color: rgb(77, 77, 77);
    font-family: var(--monserrat-font);
    font-size: 1.9rem;
    font-weight: 700;
  }
}
