@media screen and (min-width:901px) {
  .About__description{
    flex: 4;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .About__description h4{
    font-family: var(--montserrat-font);
    font-size: 1vw;
    font-weight: bolder; 
  }
}

@media screen and (max-width:900px) {
  .About__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width:600px) {
  .About__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

}

@media screen and (max-width:300px) {
  .About__description{
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
  }
}