@media screen and (min-width: 901px) {
  .About__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat-font);
    font-size: 0.8vw;
    gap: 10px;
  }
}

@media screen and (max-width: 900px) {
  .About__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat-font);
    font-size: 0.8vw;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .About__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat-font);
    font-size: 0.8vw;
    gap: 10px;
  }
}

@media screen and (max-width: 400px) {
  .About__item {
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat-font);
    font-size: 0.8vw;
    gap: 10px;
  }
}