@media screen and (min-width:901px) {
  .About__figure{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 0px;
  }  
  .About__figure img{
    padding: 0px;
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (max-width:900px) {
  .About__figure{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 0px;
  }  
  .About__figure img{
    padding: 0px;
    width: 60vw;
    height: 60vw;
  }
}

@media screen and (max-width:600px) {
  .About__figure{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 0px;
  }  
  .About__figure img{
    padding: 0px;
    width: 80vw;
    height: 80vw;
  }
}

@media screen and (max-width:300px) {
  .About__figure{
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0px;
    right: 0px;
  }  
  .About__figure img{
    padding: 0px;
    width: 60vw;
    height: 60vw;
  }
}