@media screen and (min-width: 901px) {
  .About__list{
    width: 100%;
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .About__list{
    width: 100%;
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .About__list{
    width: 100%;
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .About__list{
    width: 100%;
    display: flex;
    gap: 15px; 
    flex-wrap: wrap;
  }
}