@media screen and (min-width: 901px){
    .Contact__form_container{
        padding: 2rem;
        width: 70%;
        transition: all ease-in-out 0.4s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .Contact__form_container-light{
        background-color: white;
    }
    .Contact__form_container-dark{
        background-color: #0c1a29;
    }
}
@media screen and (max-width: 900px){
    .Contact__form_container{
        padding: 2rem;
        width: 70%;
        transition: all ease-in-out 0.4s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .Contact__form_container-light{
        background-color: white;
    }
    .Contact__form_container-dark{
        background-color: #0c1a29;
    }
}
@media screen and (max-width: 600px){
    .Contact__form_container{
        padding: 2rem;
        width: 100%;
        transition: all ease-in-out 0.4s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .Contact__form_container-light{
        background-color: white;
    }
    .Contact__form_container-dark{
        background-color: #0c1a29;
    }
}
@media screen and (max-width: 300px){
    .Contact__form_container{
        padding: 2rem;
        width: 100%;
        transition: all ease-in-out 0.4s;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
   .Contact__form_container-light{
        background-color: white;
    }
    .Contact__form_container-dark{
        background-color: #0c1a29;
    }
}