@media screen and (min-width: 901px){
    .Contact__form_input{
        outline: none;
        border: solid 0.1px lightgrey;
        border-radius: 5px;
        padding: 5px;
        font-family: var(--montserrat-font);
        color: lightslategray;
        font-size: 0.8rem; 
    }
}
@media screen and (max-width: 900px){
    .Contact__form_input{
        outline: none;
        border: solid 0.1px lightgrey;
        border-radius: 5px;
        padding: 5px;
        font-family: var(--montserrat-font);
        color: lightslategray;
        font-size: 0.8rem; 
    }
}
@media screen and (max-width: 600px){
    .Contact__form_input{
        outline: none;
        border: solid 0.1px lightgrey;
        border-radius: 5px;
        padding: 5px;
        font-family: var(--montserrat-font);
        color: lightslategray;
        font-size: 0.8rem; 
    }
}
@media screen and (max-width: 300px){
    .Contact__form_input{
        outline: none;
        border: solid 0.1px lightgrey;
        border-radius: 5px;
        padding: 5px;
        font-family: var(--montserrat-font);
        color: lightslategray;
        font-size: 0.8rem; 
    }
}