*{
        /*Colores*/
        --fondo-color: #ede9e3;
        --boton-color: #a7372b;
        --icono-color: #3d1f1d;
        --opcion-bordercolor: #a7372b; 
        --fuente-color: #ffff;

        /*Header*/
        --funte-header-color: #424530; 
        --boton-header-descarga:#424530;

        /*Fuentes*/
        --monserrat-font: 'Montserrat', sans-serif;
        --sainsserif-font: sans-serif;
        --lobster-font: 'Lobster', cursive;
        
        /*Acerca de*/
        --background-color-acerca: #424530; 
        --fuente-color-acerca: #424530;

        /*Conocimientos*/
        --icon-color-conocimiento: #a7372b; 

        /*Inicio*/
        --titulo-color:#fff;  
        --fondo-color: #D9B18F;
        --boton-color: #ffff;
        --icono-color: #07748C;
        --opcion-bordercolor: #a7372b; 
        --fuente-color-subtitulo: #ffff;
        --fuente-color-btn: #066873;
        /*Fuentes*/
        --monserrat-font: 'Montserrat', sans-serif;
        --sainsserif-font: sans-serif;
        --lobster-font: 'Lobster', cursive;
}       