@media screen and (min-width:901px) {
  .Home__button{
    width: 7vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: var(--monserrat-font);
    font-weight: bold;
    font-size: 0.8vw;
    color: rgb(77, 77, 77);
    background: #053B50;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .Home__button:hover{
    cursor: pointer;
    background-color: white;
    color: #053B50;
    border: 1px solid #053B50;
  }
}
@media screen and (max-width:900px) {
  .Home__button {
    width: 7vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: var(--monserrat-font);
    font-weight: bold;
    font-size: 0.8vw;
    color: rgb(77, 77, 77);
    background: #053B50;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .Home__button:hover {
    cursor: pointer;
    background-color:white; 
    color: #053B50;
    border-color: solid #053B50;
  }
}
@media screen and (max-width:600px) {
  .Home__button{
    width: 30vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: var(--monserrat-font);
    font-weight: bold;
    font-size: 3vw;
    color: rgb(77, 77, 77);
    background: #053B50;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .Home__button:hover{
    cursor: pointer;
    background-color: white;
    color: #053B50;
    border-color: solid #053B50;
  }
}
@media screen and (max-width:400px) {
  .Home__button{
    width: 30vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: var(--monserrat-font);
    font-weight: bold;
    font-size: 3vw;
    color: rgb(77, 77, 77);
    background: #053B50;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .Home__button:hover{
    cursor: pointer;
    background-color: white;
    color: #053B50;
    border-color: solid #053B50;
  }
}
@media screen and (max-width:300px) {
  .Home__button{
    width: 15vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: var(--monserrat-font);
    font-weight: bold;
    font-size: 5vw;
    color: rgb(77, 77, 77);
    background: #053B50;
    color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }  
  .Home__button:hover{
    cursor: pointer;
    background-color: white;
    color: #053B50;
    border-color: solid #053B50;
  }
}