@media screen and (min-width: 901px) {
  .Project__card-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 900px) {
  .Project__card-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 600px) {
  .Project__card-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 400px) {
  .Project__card-img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}