@media screen and (min-width:901px) {
  .Project__card-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width:900px) {
  .Project__card-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width:600px) {
  .Project__card-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width:300px) {
  .Project__card-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}