*{
        /*Colores*/
        --fondo-color: #ede9e3;
        --boton-color: #a7372b;
        --icono-color: #3d1f1d;
        --opcion-bordercolor: #a7372b; 
        --fuente-color: #ffff;

        /*Header*/
        --funte-header-color: #424530; 
        --boton-header-descarga:#424530;

        /*Fuentes*/
        --montserrat-font: 'Montserrat', sans-serif;
        --sainsserif-font: sans-serif;
        --lobster-font: 'Lobster', cursive;
        
        /*Acerca de*/
        --background-color-acerca: #424530; 
        --fuente-color-acerca: #424530;

        /*Conocimientos*/
        --icon-color-conocimiento: #a7372b; 

        /*Inicio*/
        --titulo-color:#fff;  
        --fondo-color: #D9B18F;
        --boton-color: #ffff;
        --icono-color: #07748C;
        --opcion-bordercolor: #a7372b; 
        --fuente-color-subtitulo: #ffff;
        --fuente-color-btn: #066873;
        /*Fuentes*/
        --monserrat-font: 'Montserrat', sans-serif;
        --sainsserif-font: sans-serif;
        --lobster-font: 'Lobster', cursive;
        --vina-sans:'Vina Sans'; 

        /* Colors */ 
        --tarawera-50: rgba(235 255 255);
        --tarawera-100: rgba(204 253 255);
        --tarawera-200: rgba(159 249 255);
        --tarawera-300: rgba(92 241 255);
        --tarawera-400: rgba(19 224 253);
        --tarawera-500: rgba(0 195 227);
        --tarawera-600: rgba(0 154 190);
        --tarawera-700: rgba(5 122 153);
        --tarawera-800: rgba(14 99 124);
        --tarawera-900: rgba(16 82 105);
        --tarawera-950: rgba(4 59 80);

scroll-behavior: smooth;

}       
html{
        scroll-behavior: smooth;
}
#html{
        scroll-behavior: smooth;
}

body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}