@media screen and (min-width: 901px) {
  .Education__card-title{
    font-family: var(--monserrat-font);
    font-weight: 500;
  }
}

@media screen and (max-width: 900px) {
  .Education__card-title{
    font-family: var(--monserrat-font);
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .Education__card-title{
    font-family: var(--monserrat-font);
    font-weight: 500;
  }
}

@media screen and (max-width: 400px) {
  .Education__card-title{
    font-family: var(--monserrat-font);
    font-weight: 500;
  }
}