@media screen and (min-width:751px) {
  .Tecnologias__titulo {
    font-family: var(--vina-sans);
    color: var(--titulo-color);
    font-size: 3.5rem;
    border-left: 3px solid white;
    padding-left: 0.4rem;
    padding-bottom: 4px;
  }
}

@media screen and (max-width:750px) {
  .Tecnologias__titulo {
    font-family: var(--vina-sans);
    color: var(--titulo-color);
    font-size: 3.5rem;
    border-left: 3px solid white;
    padding-left: 0.4rem;
    padding-bottom: 4px;
  }
}

@media screen and (max-width:640px) {
  .Tecnologias__titulo {
    font-family: var(--vina-sans);
    color: var(--titulo-color);
    font-size: 3.5rem;
    border-left: 3px solid white;
    padding-left: 0.4rem;
    padding-bottom: 4px;
  }
}
@media screen and (max-width:300px) {
  .Tecnologias__titulo {
    font-family: var(--vina-sans);
    color: var(--titulo-color);
    font-size: 3rem;
    border-left: 3px solid white;
    padding-left: 0.4rem;
    padding-bottom: 4px;
  }
}