@media screen and (min-width:751px) {
  .Contacto__descripcion {
    font-family: var(--monserrat-font);
    color: white;
    font-size: 0.9rem;
    width: 75%;
    line-height: 1.5rem;
    text-align: center;
  }

}

@media screen and (max-width:750px) {
  .Contacto__descripcion {
    font-family: var(--monserrat-font);
    color: white;
    font-size: 1.3rem;
    width: 75%;
    line-height: 1.5rem;
    text-align: center;
  }

}

@media screen and (max-width:640px) {
  .Contacto__descripcion {
    font-family: var(--monserrat-font);
    color: white;
    font-size: 1.3rem;
    width: 75%;
    line-height: 1.5rem;
    text-align: center;
  }

}