@media screen and (min-width:751px) {
  .Contacto__boton {
    width: 25%;
    border: none;
    background-color: var(--boton-color);
    color: var(--fuente-color-btn);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .Contacto__boton box-icon {
    fill: var(--fuente-color-btn);
    transform: rotate(-30deg) translateY(-1px);
    border: solid 2px;
    border-radius: 20px;
    padding: 3px;
  }

}

@media screen and (max-width:750px) {
  .Contacto__boton {
    width: 35%;
    border: none;
    background-color: var(--boton-color);
    color: var(--fuente-color-btn);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }

  .Contacto__boton box-icon {
    fill: var(--fuente-color-btn);
  }

}

@media screen and (max-width:640px) {
  .Contacto__boton {
    width: 35%;
    border: none;
    background-color: var(--boton-color);
    color: var(--fuente-color-btn);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
  }

  .Contacto__boton box-icon {
    fill: var(--fuente-color-btn);
  }

}