@media screen and (max-width:800px) {
    .header {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;

        /* Background */
        /* background-color: var(--fondo-color); */
        background:linear-gradient(rgba(39, 31, 31, 0.5), rgba(39, 31, 31, 0.5)), url('../../../src/img/sunset-gf7f0abba2_1280.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}