@media screen and (max-width:800px) { 
  .home__boton{
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 40%;
    border-radius: 20px;
    font-family: var(--monserrat-font);
  }
  .home__boton--acerca{
    background-color: white;
  }
  .home__boton--descarga{
    color: white;
    background: linear-gradient(rgba(39, 31, 31, 0.5), rgba(39, 31, 31, 0.5)) ;
  }
}