@media screen and (min-width:901px) {
  .About__buttons-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (max-width:900px) {
  .About__buttons-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
} 

@media screen and (max-width:600px) {
  .About__buttons-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width:300px) {
  .About__buttons-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}