@media screen and (min-width:901px) {
  .About__item__sub{
    font-family: var(--montserrat-font);
    font-size: 1rem;
  }
}
@media screen and (max-width:900px) {
  .About__item__sub{
    font-family: var(--montserrat-font);
    font-size: 0.7rem;
  }
}
@media screen and (max-width:600px) {
 .About__item__sub{
  font-family: var(--montserrat-font);
    font-size: 0.7rem;
  }
}
@media screen and (max-width:300px) {
  .About__item__sub{
    font-family: var(--montserrat-font);
    font-size: 0.7rem;
  }
}