@media screen and (min-width:901px) {
  .About__container {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }  
}

@media screen and (max-width:900px) {
  .About__container {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width:600px) {
  .About__container {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width:300px) {
  .About__container {
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}