@media screen and (min-width:901px) {
  .About__item__Title{
    color: rgb(77, 77, 77);
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 1.1rem;
  }
}
@media screen and (max-width:900px) {
  .About__item__Title{
    color: rgb(77, 77, 77);
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 0.8rem;
  }
}
@media screen and (max-width:600px) {
  .About__item__Title{
    color: rgb(77, 77, 77);
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size:0.8rem;
  }
}
@media screen and (max-width:300px) {
  .About__item__Title{
    color: rgb(77, 77, 77);
    font-family: var(--montserrat-font);
    font-weight: 600;
    font-size: 0.8rem;
  }
}