@media screen and (min-width:901px) {
  .Navbar__list{
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width:900px) {
  .Navbar__list{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width:600px) {
  .Navbar__list{
    display: none;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
  }
  .Navbar__list-close{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    animation-name: ListClose;
    animation-duration: 1s;
    transform: translate(-100%);
  }
  @keyframes ListClose {
    0%{
      transform: translate(0%);
    }
    100%{
      transform: translate(-100%);
    }
  }
  .Navbar__list-open{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    animation-name: ListOpen;
    animation-duration: 1s;
  }
  @keyframes ListOpen {
    0%{
      transform: translate(-100%);
    }
    100%{
      transform: translate(0%);
    }
  }
  .Navbar__list-light{
    background-color: white;
  }
  .Navbar__list-dark{
    background-color: #060c14;
  }
}

@media screen and (max-width:300px) {
  .Navbar__list{
    display: none;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
  }
  .Navbar__list-close{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    animation-name: ListClose;
    animation-duration: 1s;
    transform: translate(-100%);
  }
  @keyframes ListClose {
    0%{
      transform: translate(0%);
    }
    100%{
      transform: translate(-100%);
    }
  }
  .Navbar__list-open{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    animation-name: ListOpen;
    animation-duration: 1s;
  }
  @keyframes ListOpen {
    0%{
      transform: translate(-100%);
    }
    100%{
      transform: translate(0%);
    }
  }
  .Navbar__list-light{
    background-color: white;
  }
  .Navbar__list-dark{
    background-color: #060c14;
  }
}