@media screen and (min-width:901px) {
  .Navbar__option{
    width: 25%;
    flex: 1;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--monserrat-font);
    font-weight: semibold;
    padding: 0.5rem;
    transition: all 0.4s ease-in-out; 
    cursor: pointer;
    color: #053B50;
  }
  .Navbar__option-dark{
    color: white;
  }
  .light{
    color: white;
    border-radius: 100%;
  } 
  .dark{
    color: var(--tarawera-950);
    border-radius: 100%;
  }
}


@media screen and (max-width:900px) {
  .Navbar__option{
    color: #053B50;
    font-size: 1rem;
    font-family: var(--monserrat-font);
    font-weight: semibold;
    padding: 0.3rem;
    transition: all 0.1s ease-in-out; 
    cursor: pointer;
  }
}

@media screen and (max-width:600px) {
  .Navbar__option{
    width: auto;
    color: #053B50;
    font-size: 2rem;
    font-family: var(--monserrat-font);
    font-weight: bold;
    padding: 0.3rem;
    text-align: center;
    transition: all 0.1s ease-in-out; 
    cursor: pointer;
  }
}

@media screen and (max-width:300px) {
  .Navbar__option{
    color: #053B50;
    font-size: 1rem;
    font-family: var(--monserrat-font);
    font-weight: bold;
    padding: 0.3rem;
    transition: all 0.1s ease-in-out; 
    cursor: pointer;
  }
}
