@media screen and (min-width:901px) {
  .Navbar__title{
    width: 20%;
    font-family: var(--lobster-font);
    font-size: 1.7vw;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
  .dark-title-h1{
    color: yellow;
  }
  .light-title-h1{
    color: #053B50;
  }
}

@media screen and (max-width:900px) {
  .Navbar__title{
    width: 30%;
    font-family: var(--lobster-font);
    font-size: 1.3rem;
    color: #053B50;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
  .dark-title-h1{
    color: yellow;
  }
  .light-title-h1{
    color: #053B50;
  }
}

@media screen and (max-width:600px) {
  .Navbar__title{
    width: 30%;
    z-index: 2;
    font-family: var(--lobster-font);
    font-size: 1.3rem;
    color: #053B50;
    margin-left: 20px;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
  .dark-title-h1{
    color: yellow;
  }
  .light-title-h1{
    color: #053B50;
  }
}

@media screen and (max-width:300px) {
  .Navbar__title{
    width: 30%;
    font-family: var(--lobster-font);
    font-size: 1rem;
    color: #053B50;
  }
  .Navbar__title:hover{
    cursor: pointer;
  }
  .dark-title-h1{
    color: yellow;
  }
  .light-title-h1{
    color: #053B50;
  }
}