@media screen and (min-width:901px) {
  .Skill__bar{
    position: absolute;
    height: 15px;
    border-radius: 20px;
    background-color: #03A6A6;
  }
  /*Programacion*/
  .Skill__bar-HTML{
    width: 90%;
  }
  .Skill__bar-CSS{
    width: 70%;
  }
  .Skill__bar-JAVASCRIPT{
    width: 60%;
  }
  .Skill__bar-REACT{
    width: 50%;
  }
  .Skill__bar-GIT-GITHUB{
    width: 40%;
  }
  .Skill__bar-EXPRESS{
    width: 20%;
  }
  /*Base de datos*/
  .Skill__bar-MYSQL{
    width: 30%;
  }
  .Skill__bar-POSTGRESQL{
    width: 30%;
  }
  .Skill__bar-FIREBASE{
    width: 30%;
  }
  /*Analisis de datos*/
  .Skill__bar-EXCEL{
    width: 70%;
  }
  .Skill__bar-PYTHON{
    width: 50%;
  }
  .Skill__bar-POWERBY{
    width: 40%;
  }
  /* Herramientas de diseño y ofimatica*/
  .Skill__bar-FIGMA{
    width: 70%;
  }
  .Skill__bar-ADOBEXD{
    width: 60%;
  }
  .Skill__bar-ILUSTRATOR{
    width: 60%;
  }
  .Skill__bar-WORD{
    width: 80%;
  }
  .Skill__bar-POWERPOINT{
    width: 80%;
  }
/*Sistemas operativos*/
  .Skill__bar-WINDOWS{
    width: 70%;
  }
  .Skill__bar-LINUX{
    width: 40%;
  }
/*Comunicaciones y redes*/
  .Skill__bar-CONFIGURACIONRED{
    width: 50%;
  }
  .Skill__bar-PROTOCOLOSRED{
    width: 40%;
  }
  .Skill__bar-SEGURIDADRED{
    width: 40%;
  }
}

@media screen and (max-width:900px) {
  .Skill__bar{
    position: absolute;
    height: 15px;
    border-radius: 20px;
    background-color: #03A6A6;
  }
  /*Programacion*/
  .Skill__bar-HTML{
    width: 90%;
  }
  .Skill__bar-CSS{
    width: 70%;
  }
  .Skill__bar-JAVASCRIPT{
    width: 60%;
  }
  .Skill__bar-REACT{
    width: 50%;
  }
  .Skill__bar-GIT-GITHUB{
    width: 40%;
  }
  .Skill__bar-EXPRESS{
    width: 20%;
  }
  /*Base de datos*/
  .Skill__bar-MYSQL{
    width: 30%;
  }
  .Skill__bar-POSTGRESQL{
    width: 30%;
  }
  .Skill__bar-FIREBASE{
    width: 30%;
  }
  /*Analisis de datos*/
  .Skill__bar-EXCEL{
    width: 70%;
  }
  .Skill__bar-PYTHON{
    width: 50%;
  }
  .Skill__bar-POWERBY{
    width: 40%;
  }
  /* Herramientas de diseño y ofimatica*/
  .Skill__bar-FIGMA{
    width: 70%;
  }
  .Skill__bar-ADOBEXD{
    width: 60%;
  }
  .Skill__bar-ILUSTRATOR{
    width: 60%;
  }
  .Skill__bar-WORD{
    width: 80%;
  }
  .Skill__bar-POWERPOINT{
    width: 80%;
  }
  /*Sistemas operativos*/
  .Skill__bar-WINDOWS{
    width: 70%;
  }
  .Skill__bar-LINUX{
    width: 40%;
  }
/*Comunicaciones y redes*/
  .Skill__bar-CONFIGURACIONRED{
    width: 50%;
  }
  .Skill__bar-PROTOCOLOSRED{
    width: 40%;
  }
  .Skill__bar-SEGURIDADRED{
    width: 40%;
  }
}

@media screen and (max-width:600px) {
  .Skill__bar{
    position: absolute;
    height: 15px;
    border-radius: 20px;
    background-color: #03A6A6;
  }
  /*Programacion*/
  .Skill__bar-HTML{
    width: 90%;
  }
  .Skill__bar-CSS{
    width: 70%;
  }
  .Skill__bar-JAVASCRIPT{
    width: 60%;
  }
  .Skill__bar-REACT{
    width: 50%;
  }
  .Skill__bar-GIT-GITHUB{
    width: 40%;
  }
  .Skill__bar-EXPRESS{
    width: 20%;
  }
  /*Base de datos*/
  .Skill__bar-MYSQL{
    width: 30%;

  }
  .Skill__bar-POSTGRESQL{
    width: 30%;

  }
  .Skill__bar-FIREBASE{
    width: 30%;

  }
  /*Analisis de datos*/
  .Skill__bar-EXCEL{
    width: 70%;
  }
  .Skill__bar-PYTHON{
    width: 50%;
  }
  .Skill__bar-POWERBY{
    width: 40%;
  }
  /* Herramientas de diseño y ofimatica*/
  .Skill__bar-FIGMA{
    width: 70%;
  }
  .Skill__bar-ADOBEXD{
    width: 60%;
  }
  .Skill__bar-ILUSTRATOR{
    width: 60%;
  }
  .Skill__bar-WORD{
    width: 80%;
  }
  .Skill__bar-POWERPOINT{
    width: 80%;
  }
  /*Sistema operativos*/
  .Skill__bar-WINDOWS{
    width: 70%;
  }
  .Skill__bar-LINUX{
    width: 40%;
  }
/*Comunicaciones y redes*/
  .Skill__bar-CONFIGURACIONRED{
    width: 50%;
  }
  .Skill__bar-PROTOCOLOSRED{
    width: 40%;
  }
  .Skill__bar-SEGURIDADRED{
    width: 40%;
  }
}


@media screen and (max-width:300px) {
  .Skill__bar{
    position: absolute;
    height: 15px;
    border-radius: 20px;
    background-color: #03A6A6;
  }
  /*Programacion*/
  .Skill__bar-HTML{
    width: 90%;
  }
  .Skill__bar-CSS{
    width: 70%;
  }
  .Skill__bar-JAVASCRIPT{
    width: 60%;
  }
  .Skill__bar-REACT{
    width: 50%;
  }
  .Skill__bar-GIT-GITHUB{
    width: 40%;
  }
  .Skill__bar-EXPRESS{
    width: 20%;
  }
  /*Base de datos*/
  .Skill__bar-MYSQL{
    width: 30%;

  }
  .Skill__bar-POSTGRESQL{
    width: 30%;
  }
  .Skill__bar-FIREBASE{
    width: 30%;
  }
  /*Analisis de datos*/
  .Skill__bar-EXCEL{
    width: 70%;
  }
  .Skill__bar-PYTHON{
    width: 50%;
  }
  .Skill__bar-POWERBY{
    width: 40%;
  }
  /* Herramientas de diseño y ofimatica*/
  .Skill__bar-FIGMA{
    width: 70%;
  }
  .Skill__bar-ADOBEXD{
    width: 60%;
  }
  .Skill__bar-ILUSTRATOR{
    width: 60%;
  }
  .Skill__bar-WORD{
    width: 80%;
  }
  .Skill__bar-POWERPOINT{
    width: 80%;
  }
/*Sistema operativos*/
  .Skill__bar-WINDOWS{
    width: 70%;
  }
  .Skill__bar-LINUX{
    width: 40%;
  }
/*Comunicaciones y redes*/
  .Skill__bar-CONFIGURACIONRED{
    width: 50%;
  }
  .Skill__bar-PROTOCOLOSRED{
    width: 40%;
  }
  .Skill__bar-SEGURIDADRED{
    width: 40%;
  }
}