@media screen and (min-width: 901px){
  .Skills__group-section2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .Skills__group-section2 span{
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 800;
    color: rgb(77, 77, 77);
  }
  .Skills__group-section2 ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: circle;
  }
  .Skills__group-section2 li{
    font-family: var(--montserrat-font);
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 900px){
  .Skills__group-section2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .Skills__group-section2 span{
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 800;
    color: rgb(77, 77, 77);
  }
  .Skills__group-section2 ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: circle;
  }
  .Skills__group-section2 li{
    font-family: var(--montserrat-font);
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px){
  .Skills__group-section2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .Skills__group-section2 span{
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 800;
    color: rgb(77, 77, 77);
  }
  .Skills__group-section2 ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: circle;
  }
  .Skills__group-section2 li{
    font-family: var(--montserrat-font);
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 300px){
  .Skills__group-section2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  .Skills__group-section2 span{
    font-family: var(--montserrat-font);
    font-size: 1rem;
    font-weight: 800;
    color: rgb(77, 77, 77);
  }
  .Skills__group-section2 ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: circle;
  }
  .Skills__group-section2 li{
    font-family: var(--montserrat-font);
    font-size: 0.9rem;
  }
}