@media screen and (min-width:901px) {
  .Skill__name{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .Skill__name span{
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
}

@media screen and (max-width:900px) {
  .Skill__name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.9rem;
  }
  .Skill__name span{
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
}

@media screen and (max-width:600px) {
  .Skill__name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.7rem;
  }
  .Skill__name span{
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
}

@media screen and (max-width:300px) {
  .Skill__name{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.7rem;
  }
  .Skill__name span{
    font-family: var(--montserrat-font);
    font-weight: 600;
    color: rgb(77, 77, 77);
  }
}