@media screen and (min-width:901px) {
  .Skills{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 80px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
  }
}
@media screen and (max-width:900px) {
  .Skills{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
  }
}
@media screen and (max-width:600px) {
  .Skills{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
  }
}
@media screen and (max-width:300px) {
  .Skills{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
  }
}