@media screen and (min-width:901px) {
 .Skills__group{
    flex: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(247, 247, 247);
    padding: 10px;
  }
}

@media screen and (max-width:900px) {
 .Skills__group{
    flex: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 247, 247);
    height: auto;
    border-radius: 20px;
    padding: 10px;
  }
}

@media screen and (max-width:600px) {
 .Skills__group{
    flex: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(247, 247, 247);
    height: auto;
    border-radius: 20px;
    padding: 10px;
  }
}

@media screen and (max-width:300px) {
 .Skills__group{
    flex: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(247, 247, 247);
    height: auto;
    border-radius: 20px;
    padding: 10px;
  }
}