@media screen and (min-width:751px) {
  .Perfil__container{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 10px;
    top: 35%;  
    gap: 17px;
  }
}

@media screen and (max-width: 750px) {
  .Perfil__container {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 10px;
    top: 25%;  
    gap: 17px;
  }
}

@media screen and (max-width: 640px) {
  .Perfil__container {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left: 10px;
    top: 25%;  
    gap: 17px;
  }
}