@media screen and (min-width:751px) {
  .Perfil__subtitulo {
    color: var(--titulo-color);
    font-family: var(--vina-sans);
    font-size: 6rem;
    width: 50%;
  }
}
@media screen and (max-width:750px) {
  .Perfil__subtitulo{
    box-sizing: border-box;
    color: var(--titulo-color);
    font-family: var(--vina-sans);
    font-size: 6rem;
    width: 80%;
    border-width: 1px;
  }
}
@media screen and (max-width:640px){
  .Perfil__subtitulo {
    box-sizing: border-box;
    color: var(--titulo-color);
    font-family: var(--vina-sans);
    font-size: 6rem;
    width: 80%;
    border-width: 1px;
  }
}
@media screen and (max-width:450px) {
  .Perfil__subtitulo {
    box-sizing: border-box;
    color: var(--titulo-color);
    font-family: var(--vina-sans);
    font-size: 13vw;
    width: 80%;
    border-width: 1px;
  }
}