@media screen and (min-width:751px) {
  .Perfil__boton {
    font-family: var(--monserrat-font);
    background-color: var(--boton-color);
    color: var(--fuente-color-btn);
    font-size: 1.2rem;
    border: none;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
  }
  .Perfil__boton:hover{
    opacity: 80%;
    cursor: pointer;
  }
  .Perfil__boton:active{
    opacity: 80%;
  }
}

@media screen and (max-width:750px) {
  .Perfil__boton {
    font-family: var(--monserrat-font);
    background-color: var(--boton-color);
    color: var(--fuente-color-btn);
    font-size: 1.2rem;
    border: none;
    width: 40%;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s;
  }
  .Perfil__boton:hover{
    opacity: 80%;
    cursor: pointer;
  }
  .Perfil__boton:active{
    opacity: 80%;
  }
}