@media screen and (min-width: 901px){
    .skills-education__skills-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 900px){
    .skills-education__skills-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 600px){
    .skills-education__skills-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 300px){
    .skills-education__skills-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}