@media screen and (min-width: 901px){
    .skills-education__education_item_sub-title{
        font-family: var(--monserrat-font);
        font-style: italic;
        font-weight: lighter;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 900px){
    .skills-education__education_item_sub-title{
        font-family: var(--monserrat-font);
        font-style: italic;
        font-weight: lighter;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 600px){
    .skills-education__education_item_sub-title{
        font-family: var(--monserrat-font);
        font-style: italic;
        font-weight: lighter;
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 300px){
    .skills-education__education_item_sub-title{
        font-family: var(--monserrat-font);
        font-style: italic;
        font-weight: lighter;
        font-size: 0.8rem;
    }
}