@media screen and (min-width: 901px){
    .skills-education__description-light{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #176B87;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
    .skills-education__description-dark{
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 900px){
    .skills-education__description-light{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #176B87;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
    .skills-education__description-dark{
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 600px){
    .skills-education__description{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #176B87;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
    .skills-education__description-dark{
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 300px){
    .skills-education__description{
        font-size: 1rem;
        line-height: 1.5rem;
        color: #176B87;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
    .skills-education__description-dark{
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        font-family: var(--monserrat-font);
        transition: all 0.4s ease-in-out;
    }
}
