@media screen and (min-width: 901px){
    .skills-education__education_item_time-line-ball{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 900px){
    .skills-education__education_item_time-line-ball{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 600px){
    .skills-education__education_item_time-line-ball{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 300px){
    .skills-education__education_item_time-line-ball{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: #BFD7E1;
    }
}