@media screen and (min-width: 901px){
    .skills-education__education_item_title-light{
        color: rgb(96, 96, 96);
        font-family: var(--monserrat-font);
        font-weight: bold;
        font-size: 0.8vw;
        transition: all 0.4s ease-in-out;
    }
    .skills-education__education_item_title-dark{
        color: white;
        font-family: var(--monserrat-font);
        font-size: 0.8vw;
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 900px){
    .skills-education__education_item_title-light{
        color: rgb(96, 96, 96);
        font-family: var(--monserrat-font);
        font-weight: bold;
        font-size: 0.8vw;
        transition: all 0.4s ease-in-out;
    }
    .skills-education__education_item_title-dark{
        color: white;
        font-family: var(--monserrat-font);
        font-size: 0.8vw;
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 600px){
    .skills-education__education_item_title-light{
        color: rgb(96, 96, 96);
        font-family: var(--monserrat-font);
        font-weight: bold;
        font-size: 3vw;
        transition: all 0.4s ease-in-out;
    }
    .skills-education__education_item_title-dark{
        color: white;
        font-family: var(--monserrat-font);
        font-size: 3vw;
        transition: all 0.4s ease-in-out;
    }
}
@media screen and (max-width: 300px){
    .skills-education__education_item_title-light{
        color: rgb(96, 96, 96);
        font-family: var(--monserrat-font);
        font-weight: bold;
        font-size: 3vw;
        transition: all 0.4s ease-in-out;
    }
    .skills-education__education_item_title-dark{
        color: white;
        font-family: var(--monserrat-font);
        font-size: 3vw;
        transition: all 0.4s ease-in-out;
    }
}