@media screen and (min-width: 901px){
    .skills-education__education_item_time-line{
        position: absolute;
        
        width: 5px;
        height: 180%;
        border-radius: 20px;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 900px){
    .skills-education__education_item_time-line{
        position: absolute;
        
        width: 5px;
        height: 180%;
        border-radius: 20px;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 600px){
    .skills-education__education_item_time-line{
        position: absolute;
        
        width: 5px;
        height: 180%;
        border-radius: 20px;
        background-color: #BFD7E1;
    }
}
@media screen and (max-width: 300px){
    .skills-education__education_item_time-line{
        position: absolute;
        
        width: 5px;
        height: 180%;
        border-radius: 20px;
        background-color: #BFD7E1;
    }
}