@media screen and (min-width: 901px){
    .skills-education__education_item_info{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 900px){
    .skills-education__education_item_info{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 600px){
    .skills-education__education_item_info{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width: 300px){
    .skills-education__education_item_info{
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 10px;
    }
}