@media screen and (min-width:901px) {
  .Home{
    z-index: 0;
    box-sizing: border-box;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
    transition: all 0.4s ease-in-out;
  }
  .Home-light{
    background-color: white;
  }
  .Home-dark{
    background-color: #060c14;
  }
} 

@media screen and (max-width:900px) {
  .Home{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .Home-light{
    background-color: white;
  }
  .Home-dark{
    background-color: #060c14;
  }
} 

@media screen and (max-width:600px) {
  .Home{
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .Home-light{
    background-color: white;
  }
  .Home-dark{
    background-color: #060c14;
  }
}

@media screen and (max-width:300px) {
  .Home{
    box-sizing: border-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home-light{
    background-color: white;
  }
  .Home-dark{
    background-color: #060c14;
  }
} 