@media screen and (max-width:800px) {
  .acerca__img{
    background-image: url('../../../../src/img/img-acerca/foto-acerca.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 80%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  }
  .acerca__img::before{
    width: 100%;
    height: 100%;
    top: 20px;
    background-color: var(--boton-color);
  }
}