@media screen and (min-width: 901px){
    .Projects__card_info{
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all ease-in-out 0.4s;
    }
    .Projects__card_info-light{
        background-color: #fcfcfc;

    }
    .Projects__card_info-dark{
        background-color: #0B1928;
    }

}
@media screen and (max-width: 900px){
    .Projects__card_info{
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all ease-in-out 0.4s;
    }
    .Projects__card_info-light{
        background-color: #fcfcfc;

    }
    .Projects__card_info-dark{
        background-color: #0B1928;
    }

    }
@media screen and (max-width: 600px){
    .Projects__card_info{
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all ease-in-out 0.4s;
    }
    .Projects__card_info-light{
        background-color: #fcfcfc;

    }
    .Projects__card_info-dark{
        background-color: #0B1928;
    }

}
@media screen and (max-width: 300px){
    .Projects__card_info{
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all ease-in-out 0.4s;
    }
    .Projects__card_info-light{
        background-color: #fcfcfc;

    }
    .Projects__card_info-dark{
        background-color: #0B1928;
    }

}