@media screen and (min-width: 901px){
    .Projects__card_container_technologies{
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 10px;
    }
    .Projects__card_container_technologies--light{
        color: white;

    }
    .Projects__card_container_technologies--dark{

    }
}
@media screen and (max-width: 900px){
    .Projects__card_container_technologies{
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 10px;
    }
    .Projects__card_container_technologies--light{
        color: white;

    }
    .Projects__card_container_technologies--dark{

    }
}
@media screen and (max-width: 600px){
    .Projects__card_container_technologies{
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 10px;
    }
    .Projects__card_container_technologies--light{
        color: white;
    }
    .Projects__card_container_technologies--dark{
        
    }
}
@media screen and (max-width: 300px){
    .Projects__card_container_technologies{
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 10px;
    }
    .Projects__card_container_technologies--light{
        color: white;
    }
    .Projects__card_container_technologies--dark{
    
    }
}