@media screen and (min-width:901px) {
  .Project__card-title{
    font-family: var(--monserrat-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
  }
}
@media screen and (max-width:900px) {
  .Project__card-title{
    font-family: var(--monserrat-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
  }
}
@media screen and (max-width:600px) {
  .Project__card-title{
    font-family: var(--monserrat-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
  }
}
@media screen and (max-width:300px) {
  .Project__card-title{
    font-family: var(--monserrat-font);
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
  }
}