@media screen and (min-width:901px) {
  html{
    scroll-behavior: smooth;
  }
  main{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width:900px) {
  html{
    scroll-behavior: smooth;
  }
  main{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width:600px) {
  html{
    scroll-behavior: smooth;
  }
  main{
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width:300px) {
  html{
    scroll-behavior: smooth;
  }
  main{
    width: 100%;
    height: auto;
  }
}